body {
    background-color: rgb(35, 172, 35);
    text-align: center;
}

.blackJackTable {
    border: 3px solid orangered;
    border-radius: 50%;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.allPlayers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#gameFunctions {
    padding-top: 30px;

}